<div class="main">
  <div class="container">
    <h2 class="main_h2">イベント編集</h2>
    <div class="main_inner">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <p>
            以下の項目を入力して「イベント編集する」ボタンをクリックしてください。
          </p>

          <%= render 'events/shared/EventErrorMessage' %>

          <%= form_for @event do |f| %>

            <%= render 'events/shared/EventCreateEditTable', f: f %>

            <% if @user == current_user %>
              <div class="btn_center">
                <button class="btn" type="submit">イベント編集する</button>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
