<div class="main">
  <div class="container">
    <h2 class="main_h2">直近のイベント</h2>
    <% @events.each do |event| %>
      <div class="row event_list">
        <%= render 'events/shared/EventList', event: event %>
      </div>
    <% end %>
  </div>
</div>
