<div class="events-index-wrapper py-5 bg-light">
  <div class="container">
    <h2 class="main-h2 mb-2">イベント管理</h2>
    <div class="row manage-event-list mx-0">
      <div class="col-2 col-lg-1 manage-event-schedule-area">
        <p class="year">2018</p>
        <p class="date">12/19</p>
        <p class="time">(水)16:30〜</p>
      </div>
      <div class="pl-3">
        <%= image_tag 'kisetsukan_nai_man.png', class: 'manage-event-image', alt: 'イベント画像'%>
      </div>
      <div class="col-4 col-md-6 col-lg-5">
        <p class="manage-event-title">イベントA</p>
        <p class="fa fa-map-marker text-muted manage-event-adress pb-0"> 岩手県一関市~~</p>
      </div>
      <div class="col-1 offset-lg-3 col-lg-1 pl-0 manage-btn">
        <button class="btn btn-sm mt-2" type="submit">編集する</button>
        <button class="btn btn-sm mt-3" type="submit">削除する</button>
      </div>
    </div>
    <div class="row manage-event-list mx-0">
      <div class="col-2 col-lg-1 manage-event-schedule-area">
        <p class="year">2018</p>
        <p class="date">12/19</p>
        <p class="time">(水)16:30〜</p>
      </div>
      <div class="pl-3">
        <%= image_tag 'kisetsukan_nai_man.png', class: 'manage-event-image', alt: 'イベント画像'%>
      </div>
      <div class="col-4 col-md-6 col-lg-5">
        <p class="manage-event-title">イベントA</p>
        <p class="fa fa-map-marker text-muted manage-event-adress pb-0"> 岩手県一関市~~</p>
      </div>
      <div class="col-1 offset-lg-3 col-lg-1 pl-0 manage-btn">
        <button class="btn btn-sm mt-2" type="submit">編集する</button>
        <button class="btn btn-sm mt-3" type="submit">削除する</button>
      </div>
    </div>
    <div class="row manage-event-list mx-0">
      <div class="col-2 col-lg-1 manage-event-schedule-area">
        <p class="year">2018</p>
        <p class="date">12/19</p>
        <p class="time">(水)16:30〜</p>
      </div>
      <div class="pl-3">
        <%= image_tag 'kisetsukan_nai_man.png', class: 'manage-event-image', alt: 'イベント画像'%>
      </div>
      <div class="col-4 col-md-6 col-lg-5">
        <p class="manage-event-title">イベントA</p>
        <p class="fa fa-map-marker text-muted manage-event-adress pb-0"> 岩手県一関市~~</p>
      </div>
      <div class="col-1 offset-lg-3 col-lg-1 pl-0 manage-btn">
        <button class="btn btn-sm mt-2" type="submit">編集する</button>
        <button class="btn btn-sm mt-3" type="submit">削除する</button>
      </div>
    </div>
  </div>
</div>
