<div class="py-5 bg-light">
  <div class="container">
    <h2 class="main-h2 mb-4">イベント作成</h2>
    <div class="row main-row">
        <div class="offset-md-1 col-md-10">
          <p class="desc-row">以下の項目を全て入力して「イベント作成する」ボタンをクリックしてください。</p>
          <table class="table table-bordered">
            <tbody>
                <tr>
                  <th scope="row">タイトル</th>
                  <td>
                    <input type="text" class="eventcreate-form" name="title" value="" />
                  </td>
                </tr>
              <tr>
                <th scope="row">イベント詳細</th>
                <td>
                  <input type="text" class="eventcreate-form" name="description" value="" />
                </td>
              </tr>
              <tr>
                <th scope="row" rowspan="2">開始日時</th>
                <td>
                  <input type="date" class="eventcreate-form" name="email" value="" />
                </td>
              </tr>
              <tr>
                <td>
                  <input type="time" class="eventcreate-form" name="email" value="" />
                </td>
              </tr>
              <tr>
                <th scope="row" rowspan="2">終了日時</th>
                <td>
                  <input type="date" class="eventcreate-form" name="email" value="" />
                </td>
              </tr>
                <tr>
                  <td>
                    <input type="time" class="eventcreate-form" name="email" value="" />
                  </td>
                </tr>
              <tr>
                <th scope="row">会場</th>
                <td>
                  <input type="text" class="eventcreate-form" name="email" value="" />
                </td>
              </tr>
              <tr>
                <th scope="row">住所</th>
                <td>
                  <input type="password" class="eventcreate-form" name="password1" />
                </td>
              </tr>
              <tr>
                <th scope="row">イベント画像</th>
                <td>
                  <input type="password" class="eventcreate-form" name="password1" />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="login-btn">
            <button class="btn" type="submit">イベント作成する</button>
          </div>
        </div>
    </div>
  </div>
</div>
