<div class="main">
  <div class="container">
    <h2 class="main_h2">イベント作成</h2>
    <div class="main_inner">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <p>
            以下の項目を全て入力して「イベント作成する」ボタンをクリックしてください。
          </p>

          <%= render 'events/shared/EventErrorMessage' %>

          <%= form_for @event do |f| %>

            <%= render 'events/shared/EventCreateEditTable', f: f %>

            <div class="btn_center">
              <button class="btn" type="submit">イベント作成する</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
