// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TOPページ

.jumbotron {
  background: image-url("bg_pattern2_aozora.png");
  background-size: cover;
  background-position: center 60%;
  margin-bottom: 0;
  height: 80vh;
}

.new_event_item {
  margin-bottom: 1.5rem;

  .new_event_image {
    height: 50vh;
  }

  .new_event_title {
    border-bottom: 1px solid #343a40;
    margin-bottom: 0;
  }

  .new_event_date {
    font-size: 80%;
    color: #6c757d;
    margin-bottom: 0;
  }

  .new_event_address {
    font-size: 80%;
    color: #6c757d;
  }
}
