// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background: image-url("bg_pattern2_aozora.png");
  background-size: cover;
  background-position: center 60%;
  margin-bottom: 0;
  height: 80vh;
}

.pickup-title {
  border-bottom: 4px solid #A82400;
}

.card-body {
  padding: 0.5rem;
}

.event-day {
  font-size: 80%;
}
.event-adress {
  font-size: 70% !important;
}

.copyright {
  font-size: 12px;
}
